<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aopbuddy.plugin.mapper.CallRecordMapper">
    <resultMap id="BaseResultMap" type="com.aopbuddy.record.CallRecordDo">
        <result column="ID" jdbcType="BIGINT" property="id"/>
        <result column="CALL_CHAIN_ID" jdbcType="BIGINT" property="callChainId"/>
        <result column="METHOD" jdbcType="VARCHAR" property="method"/>
        <result column="ARGS" jdbcType="VARCHAR" property="args"/>
        <result column="RETURN_VALUE" jdbcType="VARCHAR" property="returnValue"/>
        <result column="TARGET" jdbcType="VARCHAR" property="target"/>
        <result column="THREAD_NAME" jdbcType="VARCHAR" property="threadName"/>
        <result column="MESSAGE" jdbcType="VARCHAR" property="message"/>
        <result column="TIMESTAMP" jdbcType="TIMESTAMP" property="timestamp"/>
        <result column="CHILD_IDS" jdbcType="VARCHAR" property="childIds" typeHandler="org.aopbuddy.plugin.infra.mybatis.IntegerListStringTypeHandler"/>
        <result column="THREAD_LOCAL_METHOD_ID" jdbcType="BIGINT" property="threadLocalMethodId"/>
        <result column="PATH" jdbcType="VARCHAR" property="path"/>
    </resultMap>
    <insert id="insertBatchCallRecords">
        INSERT INTO ${tableName}
        (call_chain_id,thread_local_method_id,method,args,return_value,target,thread_name,message,timestamp,child_ids,
        path)
        VALUES
        <foreach collection="list" item="record" separator=",">
            (#{record.callChainId}, #{record.threadLocalMethodId},#{record.method},
            #{record.args},#{record.returnValue},#{record.target},#{record.threadName},#{record.message},#{record.timestamp},#{record.childIds,typeHandler=org.aopbuddy.plugin.infra.mybatis.IntegerListStringTypeHandler},#{record.path})
        </foreach>
    </insert>


    <select id="selectMaxIdMethodsPerChain" resultMap="BaseResultMap">
        SELECT call_chain_id, method, thread_name, message
        FROM ${tableName}
        WHERE thread_name IS NOT NULL
    </select>


  <select id="selectMethodsByChainId" resultMap="BaseResultMap">
    SELECT id,
    call_chain_id,
    thread_local_method_id,
    method,
    child_ids
    FROM ${tableName}
    WHERE call_chain_id = #{chainId}
  </select>

    <select id="selectSonThreadLocalIds" resultMap="BaseResultMap">
      SELECT thread_local_method_id,
      child_ids
      FROM ${tableName}
      WHERE call_chain_id = #{chainId}
      <foreach collection="idList" item="id"
        open="AND id IN (" close=")" separator=",">
        #{id}
      </foreach>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id,
               call_chain_id,
               method,
               args,
               return_value,
               target,
               timestamp
        FROM ${tableName}
        WHERE id = #{id}
    </select>


    <!-- 创建 CallRecord 表 -->
    <update id="createTableWithName">
        CREATE TABLE IF NOT EXISTS ${tableName} (
        id BIGINT PRIMARY KEY AUTO_INCREMENT,
        call_chain_id BIGINT,
        thread_local_method_id BIGINT,
        method VARCHAR(1024),
        args TEXT,
        return_value TEXT,
        target TEXT,
        thread_name VARCHAR(255),
        message VARCHAR(255),
        child_ids VARCHAR(1024),
        path VARCHAR(1024),
        timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );

        <!-- 创建索引以优化查询，索引名也包含表名以避免冲突 -->
        CREATE INDEX IF NOT EXISTS idx_${tableName}_method ON ${tableName} (call_chain_id);
    </update>

    <!-- 删除 CallRecord 表 -->
    <update id="dropTableWithName">
        DROP TABLE IF EXISTS ${tableName}
    </update>

    <!--查出所有表明-->
    <select id="selectAllTableNames" resultType="java.lang.String">
        SHOW TABLES
    </select>
</mapper>